{:highlights [{:id #uuid "65a6761e-7c67-4e4c-9513-7f6bd0456b3d",
               :page 8,
               :position {:bounding {:x1 63,
                                     :y1 101.800048828125,
                                     :x2 235,
                                     :y2 295.800048828125,
                                     :width 640,
                                     :height 452.52543681478573},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1705408028380},
               :properties {:color "purple"}}
              {:id #uuid "65a6763c-0795-4d7b-bc57-deb2e7e8b624",
               :page 8,
               :position {:bounding {:x1 293,
                                     :y1 99.800048828125,
                                     :x2 496,
                                     :y2 300.800048828125,
                                     :width 640,
                                     :height 452.52543681478573},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1705408059325},
               :properties {:color "purple"}}],
 :extra {:page 15}}
