{:highlights [{:id #uuid "65a8f2fb-5e00-481e-8f8b-7a0c6977f8bb",
               :page 6,
               :position {:bounding {:x1 52,
                                     :y1 97,
                                     :x2 633,
                                     :y2 478,
                                     :width 640,
                                     :height 480},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1705571065510},
               :properties {:color "purple"}}
              {:id #uuid "65a8f3b7-c531-4ce2-9cef-3a892cc12b79",
               :page 8,
               :position {:bounding {:x1 424,
                                     :y1 154.199951171875,
                                     :x2 624,
                                     :y2 281.199951171875,
                                     :width 640,
                                     :height 480},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1705571254490},
               :properties {:color "purple"}}],
 :extra {:page 13}}
