{:highlights [{:id #uuid "63d06282-d87a-4c47-97f2-e4cbb6565532",
               :page 7,
               :position {:bounding {:x1 62.450001537799835,
                                     :y1 52.850006103515625,
                                     :x2 195.25789338350296,
                                     :y2 88.04998779296875,
                                     :width 640,
                                     :height 360},
                          :rects ({:x1 62.450001537799835,
                                   :y1 52.850006103515625,
                                   :x2 195.25789338350296,
                                   :y2 88.04998779296875,
                                   :width 640,
                                   :height 360}),
                          :page 7},
               :content {:text "Heuristics"},
               :properties {:color "blue"}}],
 :extra {:page 45}}
