{:highlights [{:id #uuid "65afae75-9a67-403e-b25c-f997550a1713",
               :page 4,
               :position {:bounding {:x1 57,
                                     :y1 134.4000244140625,
                                     :x2 493,
                                     :y2 318.4000244140625,
                                     :width 640,
                                     :height 452.52543681478573},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1706012270398},
               :properties {:color "purple"}}
              {:id #uuid "65afb5cb-87b9-4a0e-a449-4908d5505702",
               :page 20,
               :position {:bounding {:x1 90.30000305175781,
                                     :y1 267.875,
                                     :x2 585.260498046875,
                                     :y2 304.33750915527344,
                                     :width 640,
                                     :height 452.52543681478573},
                          :rects ({:x1 90.30000305175781,
                                   :y1 267.875,
                                   :x2 585.260498046875,
                                   :y2 285.4750061035156,
                                   :width 640,
                                   :height 452.52543681478573}
                                  {:x1 90.30000305175781,
                                   :y1 286.7375030517578,
                                   :x2 395.2541046142578,
                                   :y2 304.33750915527344,
                                   :width 640,
                                   :height 452.52543681478573}),
                          :page 20},
               :content {:text "One solution is to hold out a second set for tuning, called a development(“dev”) set. Save the test set for the very end"},
               :properties {:color "purple"}}
              {:id #uuid "65afb63b-2399-46de-9afe-90dce6da7426",
               :page 21,
               :position {:bounding {:x1 72,
                                     :y1 153,
                                     :x2 268,
                                     :y2 238,
                                     :width 640,
                                     :height 452.52543681478573},
                          :rects (),
                          :page 21},
               :content {:text "[:span]", :image 1706014266766},
               :properties {:color "purple"}}],
 :extra {:page 16}}
