{:highlights [{:id #uuid "63e2753c-bb4f-40e0-9506-1e5f8bd58dac",
               :page 18,
               :position {:bounding {:x1 51.80000001192093,
                                     :y1 140.39990234375,
                                     :x2 496.80000001192093,
                                     :y2 215.39990234375,
                                     :width 640,
                                     :height 360},
                          :rects (),
                          :page 18},
               :content {:text "[:span]", :image 1675785529382},
               :properties {:color "yellow"}}],
 :extra {:page 18}}
