{:highlights [{:id #uuid "63610551-1004-4c8c-97eb-feb12b7c3975",
               :page 253,
               :position {:bounding {:x1 83.20000457763672,
                                     :y1 345.38751220703125,
                                     :x2 223.542236328125,
                                     :y2 360.5874938964844,
                                     :width 640,
                                     :height 720},
                          :rects ({:x1 83.20000457763672,
                                   :y1 345.38751220703125,
                                   :x2 107.4828872680664,
                                   :y2 360.5874938964844,
                                   :width 640,
                                   :height 720}
                                  {:x1 119.5999984741211,
                                   :y1 345.38751220703125,
                                   :x2 223.542236328125,
                                   :y2 360.5874938964844,
                                   :width 640,
                                   :height 720}),
                          :page 253},
               :content {:text "10.1 Stacks and queues"},
               :properties {:color "blue"}}
              {:id #uuid "63610579-5e23-48ee-baa8-875b3fbadd3d",
               :page 254,
               :position {:bounding {:x1 140,
                                     :y1 72.40625,
                                     :x2 600,
                                     :y2 180.40625,
                                     :width 640,
                                     :height 720},
                          :rects (),
                          :page 254},
               :content {:text "[:span]", :image 1667302775609},
               :properties {:color "green"}}
              {:id #uuid "636105d9-ab95-4191-988f-bdc8e79751e4",
               :page 254,
               :position {:bounding {:x1 0,
                                     :y1 222.39999389648438,
                                     :x2 563.5173950195312,
                                     :y2 356.73748779296875,
                                     :width 640,
                                     :height 720},
                          :rects ({:x1 0,
                                   :y1 222.39999389648438,
                                   :x2 0,
                                   :y2 241.60000610351562,
                                   :width 640,
                                   :height 720}
                                  {:x1 0,
                                   :y1 238.39999389648438,
                                   :x2 0,
                                   :y2 257.6000061035156,
                                   :width 640,
                                   :height 720}
                                  {:x1 0,
                                   :y1 254.39999389648438,
                                   :x2 0,
                                   :y2 273.6000061035156,
                                   :width 640,
                                   :height 720}
                                  {:x1 0,
                                   :y1 270.3999938964844,
                                   :x2 0,
                                   :y2 289.6000061035156,
                                   :width 640,
                                   :height 720}
                                  {:x1 165.1999969482422,
                                   :y1 271.13751220703125,
                                   :x2 563.5173950195312,
                                   :y2 284.73748779296875,
                                   :width 640,
                                   :height 720}
                                  {:x1 165.1875,
                                   :y1 285.5375061035156,
                                   :x2 517.2908935546875,
                                   :y2 299.13751220703125,
                                   :width 640,
                                   :height 720}
                                  {:x1 0,
                                   :y1 286.3999938964844,
                                   :x2 0,
                                   :y2 305.6000061035156,
                                   :width 640,
                                   :height 720}
                                  {:x1 177.3249969482422,
                                   :y1 299.9375,
                                   :x2 563.4285278320312,
                                   :y2 313.5375061035156,
                                   :width 640,
                                   :height 720}
                                  {:x1 165.1875,
                                   :y1 314.3374938964844,
                                   :x2 563.4861450195312,
                                   :y2 327.9375,
                                   :width 640,
                                   :height 720}
                                  {:x1 165.1875,
                                   :y1 328.73748779296875,
                                   :x2 563.455810546875,
                                   :y2 342.3374938964844,
                                   :width 640,
                                   :height 720}
                                  {:x1 165.1875,
                                   :y1 343.13751220703125,
                                   :x2 372.7439880371094,
                                   :y2 356.73748779296875,
                                   :width 640,
                                   :height 720}),
                          :page 254},
               :content {:text "inserted element. The stack consists of elements SŒ1 : : S:top, where SŒ1 is the element at the bottom of the stack and SŒS:top is the element at the top. When S:top D 0, the stack contains no elements and is empty. We can test to see whether the stack is empty by query operation S TACK -E MPTY . If we attempt to pop an empty stack, we say the stack underflows, which is normally an error. If S:top exceeds n, the stack overflows. (I"},
               :properties {:color "blue"}}
              {:id #uuid "63c6835c-cac3-4e3a-ad71-5168de58fd6c",
               :page 610,
               :position {:bounding {:x1 422.2238464355469,
                                     :y1 551.9375152587891,
                                     :x2 493.5636901855469,
                                     :y2 565.5375061035156,
                                     :width 640,
                                     :height 720},
                          :rects ({:x1 422.2238464355469,
                                   :y1 551.9375152587891,
                                   :x2 493.5636901855469,
                                   :y2 565.5375061035156,
                                   :width 640,
                                   :height 720}),
                          :page 610},
               :content {:text "adjacency-list "},
               :properties {:color "blue"}}
              {:id #uuid "63c6854d-4d68-43c2-a36d-70d37fe18859",
               :page 611,
               :position {:bounding {:x1 464,
                                     :y1 78,
                                     :x2 557,
                                     :y2 171,
                                     :width 640,
                                     :height 720},
                          :rects (),
                          :page 611},
               :content {:text "[:span]", :image 1673954635539},
               :properties {:color "blue"}}
              {:id #uuid "63c68578-b54d-4907-b16f-be069a171764",
               :page 611,
               :position {:bounding {:x1 240,
                                     :y1 87,
                                     :x2 423,
                                     :y2 171,
                                     :width 640,
                                     :height 720},
                          :rects (),
                          :page 611},
               :content {:text "[:span]", :image 1673954678796},
               :properties {:color "blue"}}
              {:id #uuid "63c6858d-8d81-4ef4-8d4d-6ea3a1eb638c",
               :page 611,
               :position {:bounding {:x1 108,
                                     :y1 102,
                                     :x2 204,
                                     :y2 171,
                                     :width 640,
                                     :height 720},
                          :rects (),
                          :page 611},
               :content {:text "[:span]", :image 1673954700256},
               :properties {:color "blue"}}
              {:id #uuid "63c7dab1-a1f1-4e0c-9ca9-b307a8287e87",
               :page 625,
               :position {:bounding {:x1 154,
                                     :y1 286.40625,
                                     :x2 316,
                                     :y2 583.40625,
                                     :width 640,
                                     :height 720},
                          :rects (),
                          :page 625},
               :content {:text "[:span]", :image 1674042031479},
               :properties {:color "yellow"}}],
 :extra {:page 181}}
