{:highlights [{:id #uuid "65afc494-a0bf-4d48-9a1e-276c30e9b9c8",
               :page 1,
               :position {:bounding {:x1 219.22500610351562,
                                     :y1 176.16250610351562,
                                     :x2 391.767333984375,
                                     :y2 201.7624969482422,
                                     :width 639.9999999999999,
                                     :height 828.235294117647},
                          :rects ({:x1 219.22500610351562,
                                   :y1 176.16250610351562,
                                   :x2 391.767333984375,
                                   :y2 201.7624969482422,
                                   :width 639.9999999999999,
                                   :height 828.235294117647}),
                          :page 1},
               :content {:text "INTRODUCTION"},
               :properties {:color "yellow"}}],
 :extra {:page 528}}
