{:highlights [{:id #uuid "6512d65f-f6fb-4d39-82bd-279481966c11",
               :page 237,
               :position {:bounding {:x1 203.36382293701172,
                                     :y1 171.58750915527344,
                                     :x2 300.7045440673828,
                                     :y2 187.58750915527344,
                                     :width 831.3600266666667,
                                     :height 1069.4400133333334},
                          :rects ({:x1 203.36382293701172,
                                   :y1 171.58750915527344,
                                   :x2 300.7045440673828,
                                   :y2 187.58750915527344,
                                   :width 831.3600266666667,
                                   :height 1069.4400133333334}),
                          :page 237},
               :content {:text "48-bit identiﬁer"},
               :properties {:color "green"}}
              {:id #uuid "6512d6d0-f24c-4252-a3cb-681bb34c9e53",
               :page 237,
               :position {:bounding {:x1 436.00929260253906,
                                     :y1 357.1375198364258,
                                     :x2 635.7713165283203,
                                     :y2 373.1375198364258,
                                     :width 831.3600266666667,
                                     :height 1069.4400133333334},
                          :rects ({:x1 436.00929260253906,
                                   :y1 357.1375198364258,
                                   :x2 635.7713165283203,
                                   :y2 373.1375198364258,
                                   :width 831.3600266666667,
                                   :height 1069.4400133333334}),
                          :page 237},
               :content {:text "224 = 16, 777, 216 possibilities"},
               :properties {:color "green"}}
              {:id #uuid "6512d738-f415-49ea-9931-7e013b1b28a2",
               :page 237,
               :position {:bounding {:x1 376.52696228027344,
                                     :y1 524.4000015258789,
                                     :x2 563.0500640869141,
                                     :y2 540.4000015258789,
                                     :width 831.3600266666667,
                                     :height 1069.4400133333334},
                          :rects ({:x1 376.52696228027344,
                                   :y1 524.4000015258789,
                                   :x2 563.0500640869141,
                                   :y2 540.4000015258789,
                                   :width 831.3600266666667,
                                   :height 1069.4400133333334}),
                          :page 237},
               :content {:text "a standardized identiﬁer bit"},
               :properties {:color "green"}}
              {:id #uuid "6512f368-e405-43ea-bce6-0b29b30af0af",
               :page 240,
               :position {:bounding {:x1 163.4000015258789,
                                     :y1 283.203125,
                                     :x2 683.4000015258789,
                                     :y2 524.203125,
                                     :width 831.3600266666667,
                                     :height 1069.4400133333334},
                          :rects (),
                          :page 240},
               :content {:text "[:span]", :image 1695740773942},
               :properties {:color "green"}}
              {:id #uuid "65135153-3ab7-4163-9e52-c2928d850132",
               :page 242,
               :position {:bounding {:x1 379.9250183105469,
                                     :y1 735.8250122070312,
                                     :x2 406.5927429199219,
                                     :y2 751.8250122070312,
                                     :width 831.3600266666667,
                                     :height 1069.4400133333334},
                          :rects ({:x1 379.9250183105469,
                                   :y1 735.8250122070312,
                                   :x2 406.5927429199219,
                                   :y2 751.8250122070312,
                                   :width 831.3600266666667,
                                   :height 1069.4400133333334}),
                          :page 242},
               :content {:text nil},
               :properties {:color "green"}}
              {:id #uuid "65149b72-e1d5-4211-91d9-9b72a3b4c0ba",
               :page 277,
               :position {:bounding {:x1 431.5375213623047,
                                     :y1 740.7750244140625,
                                     :x2 559.4608917236328,
                                     :y2 758.3750305175781,
                                     :width 914.4960293333335,
                                     :height 1176.3840146666669},
                          :rects ({:x1 431.5375213623047,
                                   :y1 740.7750244140625,
                                   :x2 559.4608917236328,
                                   :y2 758.3750305175781,
                                   :width 914.4960293333335,
                                   :height 1176.3840146666669}),
                          :page 277},
               :content {:text "domain squatting"},
               :properties {:color "blue"}}
              {:id #uuid "652fd171-723f-4247-8943-07aa5ab95768",
               :page 398,
               :position {:bounding {:x1 0,
                                     :y1 126,
                                     :x2 631.96875,
                                     :y2 285.75,
                                     :width 800.0000000000001,
                                     :height 1029.0992869803924},
                          :rects ({:x1 0,
                                   :y1 126,
                                   :x2 0,
                                   :y2 146,
                                   :width 800.0000000000001,
                                   :height 1029.0992869803924}
                                  {:x1 485.7652282714844,
                                   :y1 252.15625,
                                   :x2 631.96875,
                                   :y2 268.15625,
                                   :width 800.0000000000001,
                                   :height 1029.0992869803924}
                                  {:x1 169.515625,
                                   :y1 269.75,
                                   :x2 533.0577392578125,
                                   :y2 285.75,
                                   :width 800.0000000000001,
                                   :height 1029.0992869803924}),
                          :page 398},
               :content {:text "there are potentially m different substitutions for any given letter in the plaintext"},
               :properties {:color "green"}}
              {:id #uuid "652ff4c5-278f-4b84-b20e-321d7a5b630d",
               :page 401,
               :position {:bounding {:x1 0,
                                     :y1 270,
                                     :x2 819.2192993164062,
                                     :y2 609.1875,
                                     :width 1039.2000333333333,
                                     :height 1336.8000166666666},
                          :rects ({:x1 0,
                                   :y1 270,
                                   :x2 0,
                                   :y2 290,
                                   :width 1039.2000333333333,
                                   :height 1336.8000166666666}
                                  {:x1 644.0159301757812,
                                   :y1 566.328125,
                                   :x2 819.2192993164062,
                                   :y2 586.328125,
                                   :width 1039.2000333333333,
                                   :height 1336.8000166666666}
                                  {:x1 220.203125,
                                   :y1 589.1875,
                                   :x2 427.27630615234375,
                                   :y2 609.1875,
                                   :width 1039.2000333333333,
                                   :height 1336.8000166666666}),
                          :page 401},
               :content {:text " Advanced Encryption Standard (AES) algorithm"},
               :properties {:color "green"}}
              {:id #uuid "652ff539-fd4a-4bf7-a85d-33246901fa7c",
               :page 404,
               :position {:bounding {:x1 266.03125,
                                     :y1 116.171875,
                                     :x2 712.7012939453125,
                                     :y2 143.171875,
                                     :width 1039.2000333333333,
                                     :height 1336.8000166666666},
                          :rects ({:x1 266.03125,
                                   :y1 116.171875,
                                   :x2 712.7012939453125,
                                   :y2 143.171875,
                                   :width 1039.2000333333333,
                                   :height 1336.8000166666666}),
                          :page 404},
               :content {:text "The Advanced Encryption Standard (AES)"},
               :properties {:color "green"}}
              {:id #uuid "652ffb7e-0e5f-4cf1-9be5-36d08da9e0d4",
               :page 423,
               :position {:bounding {:x1 133,
                                     :y1 354,
                                     :x2 594,
                                     :y2 503,
                                     :width 748.224024,
                                     :height 962.496012},
                          :rects (),
                          :page 423},
               :content {:text "[:span]", :image 1697643387760},
               :properties {:color "blue"}}
              {:id #uuid "652ffcc9-3842-482a-94e8-62694f366e10",
               :page 424,
               :position {:bounding {:x1 0,
                                     :y1 238,
                                     :x2 590.560791015625,
                                     :y2 418.046875,
                                     :width 748.224024,
                                     :height 962.496012},
                          :rects ({:x1 0,
                                   :y1 238,
                                   :x2 0,
                                   :y2 258,
                                   :width 748.224024,
                                   :height 962.496012}
                                  {:x1 0,
                                   :y1 254,
                                   :x2 0,
                                   :y2 274,
                                   :width 748.224024,
                                   :height 962.496012}
                                  {:x1 351.8790283203125,
                                   :y1 370.21875,
                                   :x2 590.34423828125,
                                   :y2 385.21875,
                                   :width 748.224024,
                                   :height 962.496012}
                                  {:x1 158.546875,
                                   :y1 386.6875,
                                   :x2 590.560791015625,
                                   :y2 401.6875,
                                   :width 748.224024,
                                   :height 962.496012}
                                  {:x1 158.546875,
                                   :y1 403.046875,
                                   :x2 543.77099609375,
                                   :y2 418.046875,
                                   :width 748.224024,
                                   :height 962.496012}),
                          :page 424},
               :content {:text " nonintuitive statistical phenomenon that states that as soon as there are more than 23 people in a room, there is better than a 50-50 chance that two of the people have the same birthda"},
               :properties {:color "purple"}}
              {:id #uuid "6530042e-6145-4c9c-aef8-7a7afd5a0287",
               :page 418,
               :position {:bounding {:x1 186.375,
                                     :y1 115.734375,
                                     :x2 235.10501098632812,
                                     :y2 130.734375,
                                     :width 748.224024,
                                     :height 962.496012},
                          :rects ({:x1 186.375,
                                   :y1 115.734375,
                                   :x2 235.10501098632812,
                                   :y2 130.734375,
                                   :width 748.224024,
                                   :height 962.496012}),
                          :page 418},
               :content {:text "Elgamal"},
               :properties {:color "blue"}}
              {:id #uuid "653048e4-b17f-41f8-8b64-96b3769fbba1",
               :page 420,
               :position {:bounding {:x1 189.5999984741211,
                                     :y1 495,
                                     :x2 664.5999984741211,
                                     :y2 621,
                                     :width 831.3600266666667,
                                     :height 1069.4400133333334},
                          :rects (),
                          :page 420},
               :content {:text "[:span]", :image 1697663200244},
               :properties {:color "green"}}
              {:id #uuid "6530491a-1bfd-4d7b-8eb6-494a00a9f051",
               :page 421,
               :position {:bounding {:x1 183.8000030517578,
                                     :y1 238.40625,
                                     :x2 680.8000030517578,
                                     :y2 505.40625,
                                     :width 831.3600266666667,
                                     :height 1069.4400133333334},
                          :rects (),
                          :page 421},
               :content {:text "[:span]", :image 1697663257103},
               :properties {:color "green"}}
              {:id #uuid "65304980-6083-4cf4-979f-a400b5514d46",
               :page 436,
               :position {:bounding {:x1 176.16250610351562,
                                     :y1 418.68751525878906,
                                     :x2 343.385009765625,
                                     :y2 436.2875061035156,
                                     :width 831.3600266666667,
                                     :height 1069.4400133333334},
                          :rects ({:x1 176.16250610351562,
                                   :y1 418.68751525878906,
                                   :x2 343.385009765625,
                                   :y2 436.2875061035156,
                                   :width 831.3600266666667,
                                   :height 1069.4400133333334}),
                          :page 436},
               :content {:text "Fermat’s Little Theorem"},
               :properties {:color "green"}}
              {:id #uuid "6530498b-58f7-45a7-9d03-35669899f0b8",
               :page 437,
               :position {:bounding {:x1 176.16250610351562,
                                     :y1 82.23750305175781,
                                     :x2 292.0679702758789,
                                     :y2 99.83750915527344,
                                     :width 831.3600266666667,
                                     :height 1069.4400133333334},
                          :rects ({:x1 176.16250610351562,
                                   :y1 82.23750305175781,
                                   :x2 292.0679702758789,
                                   :y2 99.83750915527344,
                                   :width 831.3600266666667,
                                   :height 1069.4400133333334}),
                          :page 437},
               :content {:text "Euler’s Theorem"},
               :properties {:color "green"}}],
 :extra {:page 416}}
