{:highlights [{:id #uuid "63e224d8-5e5b-4f3b-973f-25293796650c",
               :page 13,
               :position {:bounding {:x1 83.5999984741211,
                                     :y1 244.92501831054688,
                                     :x2 423.1125183105469,
                                     :y2 265.7250061035156,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects ({:x1 83.5999984741211,
                                   :y1 244.92501831054688,
                                   :x2 423.1125183105469,
                                   :y2 265.7250061035156,
                                   :width 604.7249999999999,
                                   :height 453.54333333333324}),
                          :page 13},
               :content {:text "either just two non-terminals (e.g. X → YZ )"},
               :properties {:color "yellow"}}
              {:id #uuid "63e224de-f835-4bcf-bfa2-d72148aa550e",
               :page 13,
               :position {:bounding {:x1 83.59585571289062,
                                     :y1 271.9125061035156,
                                     :x2 348.6174011230469,
                                     :y2 292.7124938964844,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects ({:x1 83.59585571289062,
                                   :y1 271.9125061035156,
                                   :x2 348.6174011230469,
                                   :y2 292.7124938964844,
                                   :width 604.7249999999999,
                                   :height 453.54333333333324}),
                          :page 13},
               :content {:text "or just one terminal (e.g. X → +)."},
               :properties {:color "yellow"}}
              {:id #uuid "63e2250c-b030-4857-b605-d198ab38bc50",
               :page 15,
               :position {:bounding {:x1 54,
                                     :y1 75.60009765625,
                                     :x2 442,
                                     :y2 312.60009765625,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects (),
                          :page 15},
               :content {:text "[:span]", :image 1675765004425},
               :properties {:color "yellow"}}
              {:id #uuid "63e2255b-ddbb-4633-80d5-8d860ed8f12a",
               :page 11,
               :position {:bounding {:x1 76.38526153564453,
                                     :y1 100.50001525878906,
                                     :x2 256.4402847290039,
                                     :y2 121.30000305175781,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects ({:x1 76.38526153564453,
                                   :y1 100.50001525878906,
                                   :x2 256.4402847290039,
                                   :y2 121.30000305175781,
                                   :width 604.7249999999999,
                                   :height 453.54333333333324}),
                          :page 11},
               :content {:text "Cocke-Younger-Kasam"},
               :properties {:color "yellow"}}
              {:id #uuid "63e225dd-847a-4a9f-a891-2ae5cd72dfe3",
               :page 20,
               :position {:bounding {:x1 151,
                                     :y1 83.7998046875,
                                     :x2 460,
                                     :y2 103.7998046875,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects (),
                          :page 20},
               :content {:text "[:span]", :image 1675765213682},
               :properties {:color "yellow"}}
              {:id #uuid "63e22690-25fe-43e0-851b-929f22f6f0bb",
               :page 22,
               :position {:bounding {:x1 14.162500381469727,
                                     :y1 13.925003051757812,
                                     :x2 258.2416934967041,
                                     :y2 40.32500457763672,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects ({:x1 14.162500381469727,
                                   :y1 13.925003051757812,
                                   :x2 258.2416934967041,
                                   :y2 40.32500457763672,
                                   :width 604.7249999999999,
                                   :height 453.54333333333324}),
                          :page 22},
               :content {:text "Filling out the CYK chart"},
               :properties {:color "yellow"}}
              {:id #uuid "63e22870-dfda-4108-8e45-ea34647ede20",
               :page 27,
               :position {:bounding {:x1 299.88751220703125,
                                     :y1 281.5,
                                     :x2 323.6239013671875,
                                     :y2 302.29998779296875,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects ({:x1 299.88751220703125,
                                   :y1 281.5,
                                   :x2 323.6239013671875,
                                   :y2 302.29998779296875,
                                   :width 604.7249999999999,
                                   :height 453.54333333333324}),
                          :page 27},
               :content {:text "AP"},
               :properties {:color "yellow"}}
              {:id #uuid "63e2288d-6b45-49d3-ba27-6e7ab93f0afc",
               :page 30,
               :position {:bounding {:x1 363.45001220703125,
                                     :y1 281.50001525878906,
                                     :x2 399.8661193847656,
                                     :y2 302.3000030517578,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects ({:x1 363.45001220703125,
                                   :y1 281.50001525878906,
                                   :x2 399.8661193847656,
                                   :y2 302.3000030517578,
                                   :width 604.7249999999999,
                                   :height 453.54333333333324}),
                          :page 30},
               :content {:text "Nom"},
               :properties {:color "yellow"}}
              {:id #uuid "63e2289d-6cb8-4d25-91b7-d2d0ad708674",
               :page 36,
               :position {:bounding {:x1 363.0853576660156,
                                     :y1 258.26251792907715,
                                     :x2 387.9397888183594,
                                     :y2 279.0625057220459,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects ({:x1 363.0853576660156,
                                   :y1 258.26251792907715,
                                   :x2 387.9397888183594,
                                   :y2 279.0625057220459,
                                   :width 604.7249999999999,
                                   :height 453.54333333333324}),
                          :page 36},
               :content {:text "NP"},
               :properties {:color "yellow"}}
              {:id #uuid "63e2289f-9b53-4d87-bd2b-0e39d0aac60e",
               :page 36,
               :position {:bounding {:x1 363.0853576660156,
                                     :y1 258.26251792907715,
                                     :x2 393,
                                     :y2 279.0625057220459,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects ({:x1 363.0853576660156,
                                   :y1 258.26251792907715,
                                   :x2 393,
                                   :y2 279.0625057220459,
                                   :width 604.7249999999999,
                                   :height 453.54333333333324}),
                          :page 36},
               :content {:text "NP "},
               :properties {:color "yellow"}}
              {:id #uuid "63e228a2-9f2a-4d77-8216-4e3a43aff5f7",
               :page 36,
               :position {:bounding {:x1 363.0853576660156,
                                     :y1 258.26251792907715,
                                     :x2 387.9397888183594,
                                     :y2 279.0625057220459,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects ({:x1 363.0853576660156,
                                   :y1 258.26251792907715,
                                   :x2 387.9397888183594,
                                   :y2 279.0625057220459,
                                   :width 604.7249999999999,
                                   :height 453.54333333333324}),
                          :page 36},
               :content {:text "NP"},
               :properties {:color "yellow"}}
              {:id #uuid "63e228a6-f26e-4b8c-bbdc-4e17f29fed4f",
               :page 36,
               :position {:bounding {:x1 363.0853576660156,
                                     :y1 258.26251792907715,
                                     :x2 393,
                                     :y2 279.0625057220459,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects ({:x1 363.0853576660156,
                                   :y1 258.26251792907715,
                                   :x2 393,
                                   :y2 279.0625057220459,
                                   :width 604.7249999999999,
                                   :height 453.54333333333324}),
                          :page 36},
               :content {:text "NP "},
               :properties {:color "yellow"}}
              {:id #uuid "63e22980-330a-44ad-bd57-aa9155a83bf5",
               :page 37,
               :position {:bounding {:x1 62,
                                     :y1 72.599609375,
                                     :x2 550,
                                     :y2 379.599609375,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects (),
                          :page 37},
               :content {:text "[:span]", :image 1675766142718},
               :properties {:color "yellow"}}
              {:id #uuid "63e22ccc-61fa-451b-9505-d973fd8bd0fe",
               :page 49,
               :position {:bounding {:x1 141,
                                     :y1 77,
                                     :x2 459,
                                     :y2 111,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects (),
                          :page 49},
               :content {:text "[:span]", :image 1675766987643},
               :properties {:color "yellow"}}
              {:id #uuid "63e22cdf-a562-41fb-a97e-64b3358bba24",
               :page 50,
               :position {:bounding {:x1 150,
                                     :y1 186,
                                     :x2 456,
                                     :y2 250,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects (),
                          :page 50},
               :content {:text "[:span]", :image 1675767006256},
               :properties {:color "yellow"}}
              {:id #uuid "63e4c632-9a12-4d94-9081-ef933760d232",
               :page 51,
               :position {:bounding {:x1 46,
                                     :y1 329.400390625,
                                     :x2 554,
                                     :y2 388.400390625,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects (),
                          :page 51},
               :content {:text "[:span]", :image 1675937328327},
               :properties {:color "yellow"}}],
 :extra {:page 30}}
