{:highlights [{:id #uuid "6526ca87-7a2b-4c8e-a16d-40123d3e22a3",
               :page 10,
               :position {:bounding {:x1 0,
                                     :y1 94.40000915527344,
                                     :x2 579.0255249142647,
                                     :y2 188.22499084472656,
                                     :width 640,
                                     :height 905.1424885263307},
                          :rects ({:x1 0,
                                   :y1 94.40000915527344,
                                   :x2 0,
                                   :y2 113.59999084472656,
                                   :width 640,
                                   :height 905.1424885263307}
                                  {:x1 373.0619018673897,
                                   :y1 160.84999084472656,
                                   :x2 579.0255249142647,
                                   :y2 173.65000915527344,
                                   :width 640,
                                   :height 905.1424885263307}
                                  {:x1 60.92500001192093,
                                   :y1 175.4250030517578,
                                   :x2 216.94624024629593,
                                   :y2 188.22499084472656,
                                   :width 640,
                                   :height 905.1424885263307}),
                          :page 10},
               :content {:text "drone cannot carry more than one order(of a maximum of four pizzas"},
               :properties {:color "red"}}],
 :extra {:page 22}}
