{:highlights [{:id #uuid "652fd25e-8665-4352-afd9-2f4b94d44e47",
               :page 21,
               :position {:bounding {:x1 93,
                                     :y1 93,
                                     :x2 463,
                                     :y2 225,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects (),
                          :page 21},
               :content {:text "[:span]", :image 1697632858413},
               :properties {:color "blue"}}
              {:id #uuid "652ff214-d32f-44d6-b056-8a0e1c169efc",
               :page 45,
               :position {:bounding {:x1 0,
                                     :y1 -2,
                                     :x2 165.55850219726562,
                                     :y2 40.5,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects ({:x1 0,
                                   :y1 -2,
                                   :x2 0,
                                   :y2 18,
                                   :width 604.7249999999999,
                                   :height 453.54333333333324}
                                  {:x1 16.80048370361328,
                                   :y1 13.5,
                                   :x2 165.55850219726562,
                                   :y2 40.5,
                                   :width 604.7249999999999,
                                   :height 453.54333333333324}),
                          :page 45},
               :content {:text "Perfect secrecy"},
               :properties {:color "green"}}
              {:id #uuid "652ff24a-341d-49f2-98db-e7701a6f6205",
               :page 53,
               :position {:bounding {:x1 11,
                                     :y1 50,
                                     :x2 553,
                                     :y2 385,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects (),
                          :page 53},
               :content {:text "[:span]", :image 1697641032983},
               :properties {:color "green"}}],
 :extra {:page 54}}
