{:highlights [{:id #uuid "6548d855-cbc8-44af-aca3-a57563fb5481",
               :page 4,
               :position {:bounding {:x1 86,
                                     :y1 226.800048828125,
                                     :x2 557,
                                     :y2 385.800048828125,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1699272788446},
               :properties {:color "purple"}}
              {:id #uuid "6548d902-24d6-46d4-b514-044f337716d4",
               :page 6,
               :position {:bounding {:x1 87,
                                     :y1 196.800048828125,
                                     :x2 554,
                                     :y2 353.800048828125,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1699272960751},
               :properties {:color "purple"}}
              {:id #uuid "6548de76-beff-41f3-966a-2ed9f98ff0e6",
               :page 10,
               :position {:bounding {:x1 87,
                                     :y1 221.39990234375,
                                     :x2 555,
                                     :y2 395.39990234375,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1699274357076},
               :properties {:color "purple"}}],
 :extra {:page 7}}
