{:highlights [{:id #uuid "655b6bec-65e0-4d44-a454-d0d33ac149ec",
               :page 9,
               :position {:bounding {:x1 83,
                                     :y1 172.800048828125,
                                     :x2 569,
                                     :y2 206.800048828125,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1700490219195},
               :properties {:color "purple"}}
              {:id #uuid "655b6d38-23df-406a-a4b8-9d284cb524c1",
               :page 11,
               :position {:bounding {:x1 87,
                                     :y1 216,
                                     :x2 555,
                                     :y2 356,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects (),
                          :page 11},
               :content {:text "[:span]", :image 1700490551006},
               :properties {:color "purple"}}
              {:id #uuid "655b72b0-156c-4b37-b8a9-624939a9fa26",
               :page 18,
               :position {:bounding {:x1 37,
                                     :y1 100.60009765625,
                                     :x2 571,
                                     :y2 305.60009765625,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects (),
                          :page 18},
               :content {:text "[:span]", :image 1700491951308},
               :properties {:color "red"}}],
 :extra {:page 22}}
