{:highlights [{:id #uuid "65522ff1-2c0c-471b-82da-90c8447bba0b",
               :page 5,
               :position {:bounding {:x1 83,
                                     :y1 244.4000244140625,
                                     :x2 551,
                                     :y2 295.4000244140625,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1699885038522},
               :properties {:color "red"}}
              {:id #uuid "6552306a-8321-446f-86a0-52eb6aa1fa87",
               :page 6,
               :position {:bounding {:x1 42,
                                     :y1 143.8000030517578,
                                     :x2 565,
                                     :y2 234,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1699885174400},
               :properties {:color "purple"}}
              {:id #uuid "655230de-41d0-4d80-9290-d96fa91bc7ef",
               :page 7,
               :position {:bounding {:x1 44,
                                     :y1 127.800048828125,
                                     :x2 563,
                                     :y2 305.800048828125,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1699885277492},
               :properties {:color "purple"}}
              {:id #uuid "65523185-9f3c-484d-af69-f1ada7a0b84c",
               :page 8,
               :position {:bounding {:x1 43,
                                     :y1 128.60009765625,
                                     :x2 559,
                                     :y2 224.60009765625,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1699885443946},
               :properties {:color "purple"}}
              {:id #uuid "655235f9-bc6c-4148-a32d-9c28d5cfa2fe",
               :page 14,
               :position {:bounding {:x1 42,
                                     :y1 163.39990234375,
                                     :x2 566,
                                     :y2 224.39990234375,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects (),
                          :page 14},
               :content {:text "[:span]", :image 1699886582036},
               :properties {:color "green"}}],
 :extra {:page 17}}
