{:highlights [{:id #uuid "6548f595-d0d5-4164-9c15-030c7981762b",
               :page 4,
               :position {:bounding {:x1 102,
                                     :y1 131.5999755859375,
                                     :x2 562,
                                     :y2 202.5999755859375,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1699280273680},
               :properties {:color "purple"}}
              {:id #uuid "6548f623-a04d-442e-87e8-2e3a0ff00f25",
               :page 5,
               :position {:bounding {:x1 117,
                                     :y1 162.4000244140625,
                                     :x2 543,
                                     :y2 288.4000244140625,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1699280418081},
               :properties {:color "purple"}}
              {:id #uuid "6548f642-c133-4098-8b93-f7bc78f5979d",
               :page 5,
               :position {:bounding {:x1 107,
                                     :y1 360.4000244140625,
                                     :x2 533,
                                     :y2 392.4000244140625,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1699280434265},
               :properties {:color "purple"}}
              {:id #uuid "6548fa1d-76da-4947-8ba9-10a3dbc06e1a",
               :page 10,
               :position {:bounding {:x1 88,
                                     :y1 262.39990234375,
                                     :x2 533,
                                     :y2 376.7998962402344,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1699281462466},
               :properties {:color "purple"}}
              {:id #uuid "6548fb46-b5f6-41bd-9a4f-a1d1cc715c5c",
               :page 8,
               :position {:bounding {:x1 39,
                                     :y1 82.800048828125,
                                     :x2 572,
                                     :y2 383.800048828125,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1699281729450},
               :properties {:color "green"}}
              {:id #uuid "6548fdb0-a9d1-4e4b-a2cb-1cb7776b6213",
               :page 17,
               :position {:bounding {:x1 85,
                                     :y1 112.7998046875,
                                     :x2 536,
                                     :y2 332.7998046875,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects (),
                          :page 17},
               :content {:text "[:span]", :image 1699282348303},
               :properties {:color "purple"}}],
 :extra {:page 20}}
