{:highlights [{:id #uuid "651ac3f3-ece0-4239-adf6-c04ac3d6b0a9",
               :page 5,
               :position {:bounding {:x1 36,
                                     :y1 122.800048828125,
                                     :x2 602,
                                     :y2 423.800048828125,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1696252913210},
               :properties {:color "green"}}
              {:id #uuid "651ac60c-8124-4382-aba6-c7a9c33d296d",
               :page 9,
               :position {:bounding {:x1 184,
                                     :y1 172,
                                     :x2 459,
                                     :y2 212,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects (),
                          :page 9},
               :content {:text "[:span]", :image 1696253450547},
               :properties {:color "green"}}],
 :extra {:page 13}}
