{:highlights [{:id #uuid "63c9508d-6a89-4d3f-bd09-408c57f9d339",
               :page 4,
               :position {:bounding {:x1 83.5999984741211,
                                     :y1 309.5125198364258,
                                     :x2 181.29380798339844,
                                     :y2 330.31250762939453,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects ({:x1 83.5999984741211,
                                   :y1 309.5125198364258,
                                   :x2 181.29380798339844,
                                   :y2 330.31250762939453,
                                   :width 604.7249999999999,
                                   :height 453.54333333333324}),
                          :page 4},
               :content {:text "Maintenance"},
               :properties {:color "blue"}}
              {:id #uuid "63c95199-0d9b-4546-b035-9fb86e4dee50",
               :page 6,
               :position {:bounding {:x1 267.2719421386719,
                                     :y1 101.02499389648438,
                                     :x2 331.550048828125,
                                     :y2 121.82501220703125,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects ({:x1 267.2719421386719,
                                   :y1 101.02499389648438,
                                   :x2 331.550048828125,
                                   :y2 121.82501220703125,
                                   :width 604.7249999999999,
                                   :height 453.54333333333324}),
                          :page 6},
               :content {:text "includes"},
               :properties {:color "blue"}}
              {:id #uuid "63c952f6-541f-40bf-8542-ab4c66b475b8",
               :page 8,
               :position {:bounding {:x1 102.67089080810547,
                                     :y1 263.62500762939453,
                                     :x2 285.8116989135742,
                                     :y2 284.4249954223633,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects ({:x1 102.67089080810547,
                                   :y1 263.62500762939453,
                                   :x2 285.8116989135742,
                                   :y2 284.4249954223633,
                                   :width 604.7249999999999,
                                   :height 453.54333333333324}),
                          :page 8},
               :content {:text "total cost of ownership”"},
               :properties {:color "blue"}}
              {:id #uuid "63c95798-56fa-4dbb-92fa-c2aaf0d63925",
               :page 13,
               :position {:bounding {:x1 54,
                                     :y1 70,
                                     :x2 548,
                                     :y2 181,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects (),
                          :page 13},
               :content {:text "[:span]", :image 1674139541026},
               :properties {:color "blue"}}
              {:id #uuid "63c95b45-b120-495b-b3da-c62c16b01eca",
               :page 18,
               :position {:bounding {:x1 144,
                                     :y1 62.60009765625,
                                     :x2 453,
                                     :y2 390.60009765625,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects (),
                          :page 18},
               :content {:text "[:span]", :image 1674140484314},
               :properties {:color "blue"}}],
 :extra {:page 23}}
