{:highlights [{:id #uuid "63d28b0a-a639-4802-813b-9af88b88a86d",
               :page 4,
               :position {:bounding {:x1 0,
                                     :y1 14.4000244140625,
                                     :x2 524.6035766601562,
                                     :y2 166.06253051757812,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects ({:x1 0,
                                   :y1 14.4000244140625,
                                   :x2 0,
                                   :y2 33.600006103515625,
                                   :width 604.7249999999999,
                                   :height 453.54333333333324}
                                  {:x1 47.23750305175781,
                                   :y1 122.67501831054688,
                                   :x2 507.27394104003906,
                                   :y2 143.47500610351562,
                                   :width 604.7249999999999,
                                   :height 453.54333333333324}
                                  {:x1 47.23750305175781,
                                   :y1 145.26254272460938,
                                   :x2 524.6035766601562,
                                   :y2 166.06253051757812,
                                   :width 604.7249999999999,
                                   :height 453.54333333333324}),
                          :page 4},
               :content {:text "A “task or coherent unit of functionality which the system is required to support”, and which has value for at least one user"},
               :properties {:color "blue"}}
              {:id #uuid "63d29009-5fd6-43f7-8c06-be6da207d549",
               :page 10,
               :position {:bounding {:x1 42,
                                     :y1 84,
                                     :x2 497,
                                     :y2 381,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1674743816500},
               :properties {:color "blue"}}
              {:id #uuid "63d29464-e914-406d-b027-eebb4c314449",
               :page 18,
               :position {:bounding {:x1 56.635047912597656,
                                     :y1 343.2624969482422,
                                     :x2 79.21009063720703,
                                     :y2 364.06251525878906,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects ({:x1 56.635047912597656,
                                   :y1 343.2624969482422,
                                   :x2 79.21009063720703,
                                   :y2 364.06251525878906,
                                   :width 604.7249999999999,
                                   :height 453.54333333333324}),
                          :page 18},
               :content {:text "cto"},
               :properties {:color "blue"}}
              {:id #uuid "63d29469-c72c-41ef-971d-7deedae5cd3d",
               :page 18,
               :position {:bounding {:x1 56.623680114746094,
                                     :y1 343.25010681152344,
                                     :x2 97.982177734375,
                                     :y2 364.0501251220703,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects ({:x1 56.623680114746094,
                                   :y1 343.25010681152344,
                                   :x2 97.982177734375,
                                   :y2 364.0501251220703,
                                   :width 604.7249999999999,
                                   :height 453.54333333333324}),
                          :page 18},
               :content {:text "ctors "},
               :properties {:color "blue"}}],
 :extra {:page 21}}
