{:highlights [{:id #uuid "63dd17dd-7b57-431d-8395-e08ae4cdfc37",
               :page 3,
               :position {:bounding {:x1 84.80000001192093,
                                     :y1 146.01250457763672,
                                     :x2 150.98463135957718,
                                     :y2 162.81250762939453,
                                     :width 640,
                                     :height 360},
                          :rects ({:x1 84.80000001192093,
                                   :y1 146.01250457763672,
                                   :x2 150.98463135957718,
                                   :y2 162.81250762939453,
                                   :width 640,
                                   :height 360}),
                          :page 3},
               :content {:text "Sole trader"},
               :properties {:color "blue"}}
              {:id #uuid "63dd1800-5458-4e03-b2c5-53215ae9dfae",
               :page 3,
               :position {:bounding {:x1 84.80000001192093,
                                     :y1 200.5875015258789,
                                     :x2 170.32995301485062,
                                     :y2 220.5875015258789,
                                     :width 640,
                                     :height 360},
                          :rects ({:x1 84.80000001192093,
                                   :y1 200.5875015258789,
                                   :x2 170.32995301485062,
                                   :y2 220.5875015258789,
                                   :width 640,
                                   :height 360}),
                          :page 3},
               :content {:text "Partnership "},
               :properties {:color "blue"}}
              {:id #uuid "63dd18e0-c8d5-4b02-b5a2-0cdaeeadfb6d",
               :page 4,
               :position {:bounding {:x1 84.80000001192093,
                                     :y1 238.10000610351562,
                                     :x2 219.59557801485062,
                                     :y2 254.89999389648438,
                                     :width 640,
                                     :height 360},
                          :rects ({:x1 84.80000001192093,
                                   :y1 238.10000610351562,
                                   :x2 219.59557801485062,
                                   :y2 254.89999389648438,
                                   :width 640,
                                   :height 360}),
                          :page 4},
               :content {:text "Public limited company"},
               :properties {:color "blue"}}
              {:id #uuid "63dd19e7-5f17-4690-af9a-f3a18d243d0f",
               :page 4,
               :position {:bounding {:x1 84.80000305175781,
                                     :y1 273.1375045776367,
                                     :x2 226.0347442626953,
                                     :y2 289.93749237060547,
                                     :width 640,
                                     :height 360},
                          :rects ({:x1 84.80000305175781,
                                   :y1 273.1375045776367,
                                   :x2 226.0347442626953,
                                   :y2 289.93749237060547,
                                   :width 640,
                                   :height 360}),
                          :page 4},
               :content {:text "Private limited company"},
               :properties {:color "blue"}}],
 :extra {:page 12}}
