{:highlights [{:id #uuid "64074993-4204-417d-996b-cef314df8b19",
               :page 11,
               :position {:bounding {:x1 50.40000230073929,
                                     :y1 35.600006103515625,
                                     :x2 261.71451646089554,
                                     :y2 68.39999389648438,
                                     :width 640,
                                     :height 360},
                          :rects ({:x1 50.40000230073929,
                                   :y1 35.600006103515625,
                                   :x2 261.71451646089554,
                                   :y2 68.39999389648438,
                                   :width 640,
                                   :height 360}),
                          :page 11},
               :content {:text "Plan Do Check Act"},
               :properties {:color "yellow"}}],
 :extra {:page 29}}
