{:highlights [{:id #uuid "63eb9d1d-0dd8-4dc4-9186-33261a244d38",
               :page 11,
               :position {:bounding {:x1 47.23750305175781,
                                     :y1 103.6875,
                                     :x2 209.92781829833984,
                                     :y2 124.48750305175781,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects ({:x1 47.23750305175781,
                                   :y1 103.6875,
                                   :x2 209.92781829833984,
                                   :y2 124.48750305175781,
                                   :width 604.7249999999999,
                                   :height 453.54333333333324}),
                          :page 11},
               :content {:text "Na ̈ıve partial solution"},
               :properties {:color "yellow"}}],
 :extra {:page 16}}
