{:highlights [{:id #uuid "63d3ddc5-6e70-4f07-bcaf-bbe53c92dd6d",
               :page 5,
               :position {:bounding {:x1 117,
                                     :y1 210.4000244140625,
                                     :x2 454,
                                     :y2 365.4000244140625,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1674829251275},
               :properties {:color "blue"}}
              {:id #uuid "63d3de10-9ac2-4562-929b-93d9006ccfc1",
               :page 7,
               :position {:bounding {:x1 143,
                                     :y1 246.60009765625,
                                     :x2 406,
                                     :y2 339.60009765625,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1674829326598},
               :properties {:color "blue"}}
              {:id #uuid "63d3e261-bc59-42b1-b81f-ac961affbf3d",
               :page 12,
               :position {:bounding {:x1 47.23750305175781,
                                     :y1 103.05000305175781,
                                     :x2 244.41537475585938,
                                     :y2 123.85000610351562,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects ({:x1 47.23750305175781,
                                   :y1 103.05000305175781,
                                   :x2 244.41537475585938,
                                   :y2 123.85000610351562,
                                   :width 604.7249999999999,
                                   :height 453.54333333333324}),
                          :page 12},
               :content {:text "Francesca, a fitness coach"},
               :properties {:color "blue"}}],
 :extra {:page 15}}
