{:highlights [{:id #uuid "63dbc7bf-6db5-48b5-afe6-bdb8129dabf6",
               :page 8,
               :position {:bounding {:x1 0,
                                     :y1 14.399993896484375,
                                     :x2 547.7140579223633,
                                     :y2 223.54998779296875,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects ({:x1 0,
                                   :y1 14.399993896484375,
                                   :x2 0,
                                   :y2 33.59999084472656,
                                   :width 604.7249999999999,
                                   :height 453.54333333333324}
                                  {:x1 0,
                                   :y1 30.399993896484375,
                                   :x2 0,
                                   :y2 49.59999084472656,
                                   :width 604.7249999999999,
                                   :height 453.54333333333324}
                                  {:x1 0,
                                   :y1 46.399993896484375,
                                   :x2 0,
                                   :y2 65.59999084472656,
                                   :width 604.7249999999999,
                                   :height 453.54333333333324}
                                  {:x1 56.900001525878906,
                                   :y1 135.01251220703125,
                                   :x2 547.7117385864258,
                                   :y2 155.8125,
                                   :width 604.7249999999999,
                                   :height 453.54333333333324}
                                  {:x1 56.900001525878906,
                                   :y1 157.58749389648438,
                                   :x2 547.712776184082,
                                   :y2 178.38751220703125,
                                   :width 604.7249999999999,
                                   :height 453.54333333333324}
                                  {:x1 56.900001525878906,
                                   :y1 180.17498779296875,
                                   :x2 547.7140579223633,
                                   :y2 200.97500610351562,
                                   :width 604.7249999999999,
                                   :height 453.54333333333324}
                                  {:x1 56.900001525878906,
                                   :y1 202.75,
                                   :x2 226.09292602539062,
                                   :y2 223.54998779296875,
                                   :width 604.7249999999999,
                                   :height 453.54333333333324}),
                          :page 8},
               :content {:text "”An architecture is the fundamental organisation of a software system embodied in its components, their relationships to each other and to the environment, and the principles guiding its design and evolution” (IEEE)"},
               :properties {:color "blue"}}
              {:id #uuid "63dbcee8-f9bd-4e97-9f89-b5ab581841a1",
               :page 20,
               :position {:bounding {:x1 85,
                                     :y1 101.400390625,
                                     :x2 529,
                                     :y2 377.400390625,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects (),
                          :page 20},
               :content {:text "[:span]", :image 1675349735019},
               :properties {:color "blue"}}
              {:id #uuid "63dbcef9-6b89-44db-9175-369f82447993",
               :page 18,
               :position {:bounding {:x1 130,
                                     :y1 61.39990234375,
                                     :x2 472,
                                     :y2 368.39990234375,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects (),
                          :page 18},
               :content {:text "[:span]", :image 1675349751572},
               :properties {:color "blue"}}
              {:id #uuid "63dbcf0a-764d-4007-8502-023de3765e10",
               :page 22,
               :position {:bounding {:x1 65,
                                     :y1 102.599609375,
                                     :x2 542,
                                     :y2 367.599609375,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects (),
                          :page 22},
               :content {:text "[:span]", :image 1675349768310},
               :properties {:color "blue"}}
              {:id #uuid "63dbcf35-92ed-4f6b-9172-93e808c6d3c8",
               :page 24,
               :position {:bounding {:x1 57,
                                     :y1 101.400390625,
                                     :x2 557,
                                     :y2 377.400390625,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects (),
                          :page 24},
               :content {:text "[:span]", :image 1675349811764},
               :properties {:color "blue"}}
              {:id #uuid "63dbcf4e-fa07-4428-89dd-f60670af7106",
               :page 25,
               :position {:bounding {:x1 122,
                                     :y1 107.599609375,
                                     :x2 478,
                                     :y2 356.599609375,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects (),
                          :page 25},
               :content {:text "[:span]", :image 1675349836116},
               :properties {:color "blue"}}
              {:id #uuid "63dbcf5f-dbf7-40ae-aa6c-3479f5b60edc",
               :page 26,
               :position {:bounding {:x1 48,
                                     :y1 118.2001953125,
                                     :x2 562,
                                     :y2 345.2001953125,
                                     :width 604.7249999999999,
                                     :height 453.54333333333324},
                          :rects (),
                          :page 26},
               :content {:text "[:span]", :image 1675349850551},
               :properties {:color "blue"}}],
 :extra {:page 16}}
