{:highlights [{:id #uuid "65b6df25-33ae-45cb-996a-d6e181e6b635",
               :page 147,
               :position {:bounding {:x1 133,
                                     :y1 61.796875,
                                     :x2 521,
                                     :y2 251.796875,
                                     :width 598.5,
                                     :height 855},
                          :rects (),
                          :page 147},
               :content {:text "[:span]", :image 1706483490914},
               :properties {:color "green"}}
              {:id #uuid "65b81567-476f-4baf-8d93-29e418b91d03",
               :page 166,
               :position {:bounding {:x1 133.2375030517578,
                                     :y1 699.625,
                                     :x2 250.1891632080078,
                                     :y2 714.8250122070312,
                                     :width 640,
                                     :height 914.2857142857142},
                          :rects ({:x1 133.2375030517578,
                                   :y1 699.625,
                                   :x2 250.1891632080078,
                                   :y2 714.8250122070312,
                                   :width 640,
                                   :height 914.2857142857142}),
                          :page 166},
               :content {:text "send(P, message)"},
               :properties {:color "blue"}}
              {:id #uuid "65b8156f-8816-4d2f-8cba-97f44b3d79de",
               :page 166,
               :position {:bounding {:x1 133.2375030517578,
                                     :y1 722.3875122070312,
                                     :x2 272.1248779296875,
                                     :y2 737.5874938964844,
                                     :width 640,
                                     :height 914.2857142857142},
                          :rects ({:x1 133.2375030517578,
                                   :y1 722.3875122070312,
                                   :x2 272.1248779296875,
                                   :y2 737.5874938964844,
                                   :width 640,
                                   :height 914.2857142857142}),
                          :page 166},
               :content {:text "receive(Q, message)"},
               :properties {:color "blue"}}
              {:id #uuid "65b819fe-2129-4bdc-80d6-af95787c353c",
               :page 167,
               :position {:bounding {:x1 146.4875030517578,
                                     :y1 243.57501220703125,
                                     :x2 292.6904296875,
                                     :y2 258.7749938964844,
                                     :width 640,
                                     :height 914.2857142857142},
                          :rects ({:x1 146.4875030517578,
                                   :y1 243.57501220703125,
                                   :x2 292.6904296875,
                                   :y2 258.7749938964844,
                                   :width 640,
                                   :height 914.2857142857142}),
                          :page 167},
               :content {:text "receive(id, message)"},
               :properties {:color "blue"}}
              {:id #uuid "65b81a4b-5d2f-4f11-9eec-4628c608c58e",
               :page 167,
               :position {:bounding {:x1 146.4875030517578,
                                     :y1 571.9000091552734,
                                     :x2 507.57501220703125,
                                     :y2 587.1000213623047,
                                     :width 640,
                                     :height 914.2857142857142},
                          :rects ({:x1 146.4875030517578,
                                   :y1 571.9000091552734,
                                   :x2 507.57501220703125,
                                   :y2 587.1000213623047,
                                   :width 640,
                                   :height 914.2857142857142}),
                          :page 167},
               :content {:text "receive(A, message)—Receive a message from mailbox A."},
               :properties {:color "blue"}}
              {:id #uuid "65b81b6d-16e1-4e5a-a394-4fbe9b6ddb17",
               :page 167,
               :position {:bounding {:x1 146.4875030517578,
                                     :y1 549.1250152587891,
                                     :x2 450.38751220703125,
                                     :y2 564.3250122070312,
                                     :width 640,
                                     :height 914.2857142857142},
                          :rects ({:x1 146.4875030517578,
                                   :y1 549.1250152587891,
                                   :x2 450.38751220703125,
                                   :y2 564.3250122070312,
                                   :width 640,
                                   :height 914.2857142857142}),
                          :page 167},
               :content {:text "send(A, message)—Send a message to mailbox A"},
               :properties {:color "blue"}}
              {:id #uuid "66267a66-e227-4dac-90e3-03b1a1caaa8b",
               :page 222,
               :position {:bounding {:x1 163.625,
                                     :y1 474.31251525878906,
                                     :x2 306.5220642089844,
                                     :y2 487.1125030517578,
                                     :width 598.5,
                                     :height 855},
                          :rects ({:x1 163.625,
                                   :y1 474.31251525878906,
                                   :x2 306.5220642089844,
                                   :y2 487.1125030517578,
                                   :width 598.5,
                                   :height 855}),
                          :page 222},
               :content {:text "Types of Parallelism"},
               :properties {:color "blue"}}
              {:id #uuid "66267e0c-1266-4f5d-860d-f303bd96ee15",
               :page 218,
               :position {:bounding {:x1 107,
                                     :y1 557.203125,
                                     :x2 549,
                                     :y2 751.203125,
                                     :width 598.5,
                                     :height 855},
                          :rects (),
                          :page 218},
               :content {:text "[:span]", :image 1713798664317},
               :properties {:color "purple"}}
              {:id #uuid "66268209-1edd-493f-994e-48dadcaa86d3",
               :page 220,
               :position {:bounding {:x1 200,
                                     :y1 70.59375,
                                     :x2 558,
                                     :y2 133.59375,
                                     :width 640,
                                     :height 914.2857142857142},
                          :rects (),
                          :page 220},
               :content {:text "[:span]", :image 1713799685271},
               :properties {:color "purple"}}
              {:id #uuid "66268289-a249-4f56-b0ce-c9ee984bc7d2",
               :page 220,
               :position {:bounding {:x1 210,
                                     :y1 704.59375,
                                     :x2 492,
                                     :y2 804.59375,
                                     :width 640,
                                     :height 914.2857142857142},
                          :rects (),
                          :page 220},
               :content {:text "[:span]", :image 1713799816536},
               :properties {:color "purple"}}
              {:id #uuid "662685f7-bea2-4801-89b8-64bf32c79a4d",
               :page 221,
               :position {:bounding {:x1 123.70000457763672,
                                     :y1 596.6750183105469,
                                     :x2 552.7505493164062,
                                     :y2 640.6250305175781,
                                     :width 640,
                                     :height 914.2857142857142},
                          :rects ({:x1 214.37197875976562,
                                   :y1 596.6750183105469,
                                   :x2 552.7505493164062,
                                   :y2 610.2749938964844,
                                   :width 640,
                                   :height 914.2857142857142}
                                  {:x1 123.70000457763672,
                                   :y1 611.8500061035156,
                                   :x2 548.6979904174805,
                                   :y2 625.4499816894531,
                                   :width 640,
                                   :height 914.2857142857142}
                                  {:x1 123.70000457763672,
                                   :y1 627.0249938964844,
                                   :x2 155.6265106201172,
                                   :y2 640.6250305175781,
                                   :width 640,
                                   :height 914.2857142857142}),
                          :page 221},
               :content {:text ": the serial portion of an application can have a disproportionate effect on the performance we gain by adding additional computing cores."},
               :properties {:color "red"}}
              {:id #uuid "662686fa-3ec4-4473-b969-fa66cdfe1be3",
               :page 222,
               :position {:bounding {:x1 179,
                                     :y1 63.203125,
                                     :x2 516,
                                     :y2 302.203125,
                                     :width 640,
                                     :height 914.2857142857142},
                          :rects (),
                          :page 222},
               :content {:text "[:span]", :image 1713800953384},
               :properties {:color "purple"}}
              {:id #uuid "6626ac97-4fb5-4783-b8a4-2959dd971539",
               :page 253,
               :position {:bounding {:x1 183,
                                     :y1 76.203125,
                                     :x2 488,
                                     :y2 191.203125,
                                     :width 640,
                                     :height 914.2857142857142},
                          :rects (),
                          :page 253},
               :content {:text "[:span]", :image 1713810580507},
               :properties {:color "purple"}}
              {:id #uuid "6626b30b-11b8-4057-b7f2-fdd1765a901b",
               :page 270,
               :position {:bounding {:x1 115.07500839233398,
                                     :y1 517.0750122070312,
                                     :x2 545.001781463623,
                                     :y2 545.0874938964844,
                                     :width 604.1,
                                     :height 863},
                          :rects ({:x1 300.6898612976074,
                                   :y1 517.0750122070312,
                                   :x2 545.001781463623,
                                   :y2 530.6749877929688,
                                   :width 604.1,
                                   :height 863}
                                  {:x1 115.07500839233398,
                                   :y1 531.4874877929688,
                                   :x2 277.5836601257324,
                                   :y2 545.0874938964844,
                                   :width 604.1,
                                   :height 863}),
                          :page 270},
               :content {:text "gives control of the CPU’s core to the process selected by the CPU scheduler"},
               :properties {:color "purple"}}
              {:id #uuid "66291135-65e6-4792-ac50-f318db335caf",
               :page 482,
               :position {:bounding {:x1 59.500003814697266,
                                     :y1 344.80001068115234,
                                     :x2 88.24695205688477,
                                     :y2 360.80001068115234,
                                     :width 604.1,
                                     :height 863},
                          :rects ({:x1 59.500003814697266,
                                   :y1 344.80001068115234,
                                   :x2 88.24695205688477,
                                   :y2 360.80001068115234,
                                   :width 604.1,
                                   :height 863}),
                          :page 482},
               :content {:text "9.5"},
               :properties {:color "green"}}
              {:id #uuid "662911af-6f56-41b9-88e1-b335683b8bcd",
               :page 455,
               :position {:bounding {:x1 72.06250381469727,
                                     :y1 712.4375,
                                     :x2 97.0824089050293,
                                     :y2 728.4375,
                                     :width 604.1,
                                     :height 863},
                          :rects ({:x1 72.06250381469727,
                                   :y1 712.4375,
                                   :x2 97.0824089050293,
                                   :y2 728.4375,
                                   :width 604.1,
                                   :height 863}),
                          :page 455},
               :content {:text "9.1"},
               :properties {:color "green"}}
              {:id #uuid "662911c9-1dc6-4746-acb6-2c4f57b63297",
               :page 462,
               :position {:bounding {:x1 59.500003814697266,
                                     :y1 612.1625000014901,
                                     :x2 88.24695205688477,
                                     :y2 628.1625000014901,
                                     :width 604.1,
                                     :height 863},
                          :rects ({:x1 59.500003814697266,
                                   :y1 612.1625000014901,
                                   :x2 88.24695205688477,
                                   :y2 628.1625000014901,
                                   :width 604.1,
                                   :height 863}),
                          :page 462},
               :content {:text "9.2"},
               :properties {:color "green"}}
              {:id #uuid "66291204-3f8e-45f8-9c95-160b3669cb35",
               :page 466,
               :position {:bounding {:x1 59.500003814697266,
                                     :y1 371.0375175476074,
                                     :x2 88.24695205688477,
                                     :y2 387.0375213623047,
                                     :width 604.1,
                                     :height 863},
                          :rects ({:x1 59.500003814697266,
                                   :y1 371.0375175476074,
                                   :x2 88.24695205688477,
                                   :y2 387.0375213623047,
                                   :width 604.1,
                                   :height 863}),
                          :page 466},
               :content {:text "9.3"},
               :properties {:color "green"}}
              {:id #uuid "66291218-d12c-48ce-9850-4867ba653ec5",
               :page 477,
               :position {:bounding {:x1 72.06250381469727,
                                     :y1 211.46250610798597,
                                     :x2 100.80945205688477,
                                     :y2 227.46250610798597,
                                     :width 604.1,
                                     :height 863},
                          :rects ({:x1 72.06250381469727,
                                   :y1 211.46250610798597,
                                   :x2 100.80945205688477,
                                   :y2 227.46250610798597,
                                   :width 604.1,
                                   :height 863}),
                          :page 477},
               :content {:text "9.4"},
               :properties {:color "green"}}
              {:id #uuid "6629122f-d587-490a-8881-1e1e85de089a",
               :page 485,
               :position {:bounding {:x1 72.06250381469727,
                                     :y1 67.61250000447035,
                                     :x2 100.80945205688477,
                                     :y2 83.61250000447035,
                                     :width 604.1,
                                     :height 863},
                          :rects ({:x1 72.06250381469727,
                                   :y1 67.61250000447035,
                                   :x2 100.80945205688477,
                                   :y2 83.61250000447035,
                                   :width 604.1,
                                   :height 863}),
                          :page 485},
               :content {:text "9.6"},
               :properties {:color "green"}}
              {:id #uuid "6629139f-e80a-4c26-82b6-26142ceffc15",
               :page 501,
               :position {:bounding {:x1 72.06250381469727,
                                     :y1 121.32500153034925,
                                     :x2 206.32416152954102,
                                     :y2 214.71250610798597,
                                     :width 604.1,
                                     :height 863},
                          :rects ({:x1 72.06250381469727,
                                   :y1 121.32500153034925,
                                   :x2 179.06145858764648,
                                   :y2 169.3250091597438,
                                   :width 604.1,
                                   :height 863}
                                  {:x1 72.06250381469727,
                                   :y1 166.71250610798597,
                                   :x2 206.32416152954102,
                                   :y2 214.71250610798597,
                                   :width 604.1,
                                   :height 863}),
                          :page 501},
               :content {:text "Virtual Memory"},
               :properties {:color "yellow"}}
              {:id #uuid "6629195e-f5d0-48af-88aa-083ca9fb8ade",
               :page 460,
               :position {:bounding {:x1 126,
                                     :y1 61.8125,
                                     :x2 510,
                                     :y2 242.8125,
                                     :width 604.1,
                                     :height 863},
                          :rects (),
                          :page 460},
               :content {:text "[:span]", :image 1713969501419},
               :properties {:color "purple"}}
              {:id #uuid "662a7870-5b17-4a31-8480-20a4f2eb10c2",
               :page 482,
               :position {:bounding {:x1 200,
                                     :y1 672,
                                     :x2 633,
                                     :y2 1012,
                                     :width 800.0000000000001,
                                     :height 1142.857142857143},
                          :rects (),
                          :page 482},
               :content {:text "[:span]", :image 1714059374212},
               :properties {:color "purple"}}
              {:id #uuid "662a7fbd-0905-4843-a092-45a0321219ea",
               :page 466,
               :position {:bounding {:x1 275,
                                     :y1 1006,
                                     :x2 570,
                                     :y2 1057,
                                     :width 800,
                                     :height 1142.857142857143},
                          :rects (),
                          :page 466},
               :content {:text "[:span]", :image 1714061244140},
               :properties {:color "purple"}}
              {:id #uuid "662a81cb-3da2-44a6-87cd-54ca43f34f04",
               :page 472,
               :position {:bounding {:x1 269.03125,
                                     :y1 148.5,
                                     :x2 298.55474853515625,
                                     :y2 167.5,
                                     :width 800,
                                     :height 1142.857142857143},
                          :rects ({:x1 269.03125,
                                   :y1 148.5,
                                   :x2 298.55474853515625,
                                   :y2 167.5,
                                   :width 800,
                                   :height 1142.857142857143}),
                          :page 472},
               :content {:text "two"},
               :properties {:color "blue"}}
              {:id #uuid "662aa6b6-7a97-4638-a24b-9d415910aa6e",
               :page 476,
               :position {:bounding {:x1 188,
                                     :y1 522,
                                     :x2 637,
                                     :y2 1018,
                                     :width 800,
                                     :height 1142.857142857143},
                          :rects (),
                          :page 476},
               :content {:text "[:span]", :image 1714071220107},
               :properties {:color "purple"}}
              {:id #uuid "662bc159-1975-4658-ab52-6841ad8167a3",
               :page 477,
               :position {:bounding {:x1 227,
                                     :y1 589.8125,
                                     :x2 472,
                                     :y2 650.8125,
                                     :width 640,
                                     :height 914.2857142857142},
                          :rects (),
                          :page 477},
               :content {:text "[:span]", :image 1714143576158},
               :properties {:color "blue"}}
              {:id #uuid "662bc2b8-7ffa-46ab-80ce-855998a0562c",
               :page 478,
               :position {:bounding {:x1 191.80000001192093,
                                     :y1 694.59375,
                                     :x2 483.80000001192093,
                                     :y2 760.59375,
                                     :width 640,
                                     :height 914.2857142857142},
                          :rects (),
                          :page 478},
               :content {:text "[:span]", :image 1714143926381},
               :properties {:color "blue"}}
              {:id #uuid "662bc3b3-42c8-4305-9dde-97009de4bf59",
               :page 479,
               :position {:bounding {:x1 134,
                                     :y1 569.59375,
                                     :x2 557,
                                     :y2 841.59375,
                                     :width 640,
                                     :height 914.2857142857142},
                          :rects (),
                          :page 479},
               :content {:text "[:span]", :image 1714144170169},
               :properties {:color "blue"}}
              {:id #uuid "662bdbc2-0428-4cb2-9976-b801f8ce9bf9",
               :page 573,
               :position {:bounding {:x1 95.4375,
                                     :y1 160.90625,
                                     :x2 389.976318359375,
                                     :y2 285.015625,
                                     :width 800,
                                     :height 1142.857142857143},
                          :rects ({:x1 95.4375,
                                   :y1 160.90625,
                                   :x2 389.976318359375,
                                   :y2 224.90625,
                                   :width 800,
                                   :height 1142.857142857143}
                                  {:x1 95.4375,
                                   :y1 221.015625,
                                   :x2 298.846923828125,
                                   :y2 285.015625,
                                   :width 800,
                                   :height 1142.857142857143}),
                          :page 573},
               :content {:text "Mass -Storage Structure"},
               :properties {:color "red"}}
              {:id #uuid "662bdcd8-a52f-4f0c-bb4f-555f8ab3a2b9",
               :page 694,
               :position {:bounding {:x1 95.4375,
                                     :y1 160.90625,
                                     :x2 413.3538513183594,
                                     :y2 284.015625,
                                     :width 800,
                                     :height 1142.857142857143},
                          :rects ({:x1 95.4375,
                                   :y1 160.90625,
                                   :x2 349.5604248046875,
                                   :y2 223.90625,
                                   :width 800,
                                   :height 1142.857142857143}
                                  {:x1 95.4375,
                                   :y1 221.015625,
                                   :x2 413.3538513183594,
                                   :y2 284.015625,
                                   :width 800,
                                   :height 1142.857142857143}),
                          :page 694},
               :content {:text "File -System Implementation"},
               :properties {:color "red"}}],
 :extra {:page 585}}
